*{
    margin: 0;
}

/*

Segunda opção de centralização vertical

html{
    height: 100%;
    
}

body{
    background-color: rgb(150, 150, 150);
    font-family: "Signika", sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/imgs/background.jpg);
    background-size: 100%;
    background-position: right center;
    background-repeat: no-repeat;
    background-color: rgb(65, 86, 104);
}
*/


body{
    background-color: rgb(150, 150, 150);
    font-family: "Signika", sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/imgs/background.jpg);
    background-size: 100%;
    background-position: right center;
    background-repeat: no-repeat;
    background-color: rgb(65, 86, 104);
    height: 100vh; /* Usando quando se tem apenas um elemento */
}

/*  Style for main-container div  */

.main-container{
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    padding: 40px;
    backdrop-filter: blur(5px);
}

.main-container h1{
    text-align: center;
    color: rgb(241, 241, 241);
    margin-bottom: 20px;
}

.main-container ul{
    list-style: none;
}

/*  Style for contact-container div  */

.contact-container{
    list-style-type: none;
    list-style: none;
    flex-direction: column;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    border-radius: 5px;
    padding-left: 0;
    margin: 0;
    height: 300px;
    box-shadow: 0 2px 6px rgba(0,0,0, .2);
}

/*  Style for contacts div  */

.contacts{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eeeeee93;
    margin: 0;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.349);
    transition: ease-in-out 250ms;
}

.contacts:hover{
    background-color: rgba(240, 248, 255, 0.582);
}


/*  Style for contact-5star-img and contact-4star-img div  */

.contact-5star-img{
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px;
}

.contact-5star-img img{
    width: 100px;
    height: auto;
    background: linear-gradient(140deg, #c67c28 16%, #755530 92%);
    border-radius: 80px;
}

.contact-4star-img{
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px;
}

.contact-4star-img img{
    width: 100px;
    height: auto;
    background: linear-gradient(140deg, #7049a2 16%, #2f2457 92%);
    border-radius: 50%;
}

/*  Style for contact-info div  */

.contact-info{
    align-items: flex-start;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 10px 0px 0px 0px;
}

.contact-info p{
    color: #222222;
}

/*  Style for contact-icons div  */

.contact-icons{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 6px;
}

.contact-icons a{
    color: rgba(0, 0, 0, 0);
    transition: ease-in-out 250ms;
}


.contacts:hover .contact-icons a{
    color: rgb(0, 0, 0);
}

.contact-icons span{
    padding: 2px;
}

