*{
    margin: 0;
}
body{
    background-color: rgb(150, 150, 150);
    font-family: "Signika", sans-serif;
}

main{
    background-image: url(/imgs/background.jpg);
    background-size: 100%;
    background-position: right center;
    background-repeat: no-repeat;
    background-color: rgb(65, 86, 104);
    height: 100vh; /* Usando quando se tem apenas um elemento */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container{
    box-shadow: 5px 5px 5px rgba(253, 253, 253, 0.726);
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    padding: 40px;
    backdrop-filter: blur(5px);
}

.main-container h1{
    color: rgb(241, 241, 241);
    text-align: center;
    margin-bottom: 20px;
}

.contact-container{
    flex-direction: column;
    display: flex;
    margin: 0;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    height: 300px;
    border-radius: 5px;
}

.contacts{
    justify-content: space-between;
    margin: 0;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
}

.contact-icons{
    display: flex;
    text-align: center;
    align-items: center;
}

.contact-5star-img{
    background-color: aquamarine;
    margin: 0;
    padding: 10px;
    display: block;
    text-align: left;
}

.contact-5star-img img{
    width: 100px;
    height: auto;
    background-color: black;
    border-radius: 80px;
}

.contact-info{
    width: 100%;
    align-items: flex-start;
    margin: 0;
    background-color: aqua;
    text-align: left;
    padding: 10px 60px 0px 0px;
}

.contact-icons{
    background-color: brown;
}

.contact-icons span{
    padding: 2px;
}

